.pop_product {

  border: 1px solid #e5e0e0;
  border-radius: 22px;
  /* height: 420px !important; */
  transition: all 0.5s ease;
  margin: 0 5px 20px 5px;
}

.pop_product:hover {
  border-color: #3bb77e;
  box-shadow: 0 0 10px #aaa;
}

.pop_product a {
  display: inline-block;
}

.pop_product .prduct_img {
  position: relative;
  text-align: center !important;
}

.pop_product img {
  width: 200px;
  height: 220px;
  margin-top: 20px;
}

.pop_product.new .prduct_img span {
  background-color: #3bb77e;
}

.pop_product.hot .prduct_img span {
  background-color: #f74b81;
}

.pop_product.sale .prduct_img span {
  background-color: #67bcee;
}

.pop_product.over .prduct_img span {
  background-color: #f59758;
}

.pop_product .prduct_img span {
  left: 0;
  top: 0;
  color: #fff;
  position: absolute;
  width: 65px;
  height: 34px;
  line-height: 34px;
  border-radius: 20px 0 20px 0;
}